.hero-section{ 
    background-image: url(assets/Group\ 1\ 1.png); 
    background-repeat: no-repeat;
    width: 100%;
}

.hero-headig{
    /* margin-top: 132px !important; */
    
}
.fs-4{
    color:  #616161;
    font-weight: bold;
}


.text-light{
    font-size: 4rem !important;
}
.py-8{
    padding-top: 120px;
    padding-bottom: 120px;

}